.page-title {
    color: white;
}

.albums {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.frame {
    width: 80%;
    flex-wrap: wrap;
}

.cell {
    width:25%;
    display: flex;
    justify-content: center;
}


a {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.album-choice {
    font-size:1.2em;
    overflow-wrap: anywhere;
}
.album-icon {
    height: 74%;
    width: 74%;
}