.home-welcome {
    color: white;
    text-align: center;
}

.instruction {
    color: white;
    text-align: center;
    position: relative;
    top: 80px;
    font-size: 70px;
}

.cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.options {
    display: flex;
    justify-content: space-evenly;
    margin-top: 6%;
}

.choice {
    font-size: 3em;
    margin-bottom: 5%;
}

.icon {
    height:300px;
    width: 300px;
    /* height: 100%; */
}

.options > a {
    width: 20%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

button {
    border: 1px solid white;
    background-color: navy;
    color: white;
}

button > a {
    color: white;
}

button:hover {
    transform: scale(1.25);
    font-weight: bold;
}

a {
    text-decoration: none;
}

a > label:hover {
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.25);
}

.profile-cell:hover {
    transform: scale(1.25);
}