.info-parent {
    display: flex;
    width: 80%;
}

.songs-uploaded,
.albums-liked,
.songs-liked,
.commented-albums,
.commented-songs {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-cell {
    padding-bottom: 5%;
}

.profile-icons {
    width:60%;
    height: 60%;
}

.music-note-icon {
    height: 15%;
}

.profile-label {
    text-align: center;
    height: 50px;
}

.new-song-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.file-upload {
    color: white;
}

.new-info {
    height: 50%;
    width: 32%;
    MARGIN: 1%;
}

.new-song-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}