body{
    background-image: url('https://m.foolcdn.com/media/dubs/images/stock_chart_up_2.original.jpg');
}

label {
    color: white;
    margin-right: 3%;
}

.frame {
    margin: 13% auto;
    border: 1px solid white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(21, 24, 66, .75);
}

.login-form-div {
    width: 100%;
}

.login-message {
    color: white;
}

.signup {
    text-decoration: none;
}

.credentials-div {
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.password-div {
    display: flex;
    justify-content: center;
}

.login-btns {
    display:flex;
    justify-content: space-around;
    margin-top:5%;
}

.login-btns > button {
    width: 20%;
}

.demo-btn > button {
    position: relative;
    bottom: 30px;
}

form {
    border: 1px solid white;
    width: 60%;
    margin: 10px auto;
}